.App {
  text-align: center;
  background-color: #202120;
  color: white;
}
.logo {
  text-decoration: none;
  color: #202120;
  font-size: 50px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.titleMovie {
  /* font-weight: bold; */
}

.cardMovie {
  border-radius: 20px;
}